---
import Create from "../components/pages/Create.astro";
import Crud from "../layouts/Crud.astro";
import Navbar from "../components/pages/Navbar.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
---

<Navbar />
  <Crud>
    <main>
      <section>
        <Create />
      </section>
    </main>
  </Crud>
