---
import Todo from "../components/pages/Todo.astro";
import Layout from "../layouts/Layout.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
---

<Layout>
  <main>
    <section>
      <Todo />
    </section>
  </main>
</Layout>
