---
import Todo from "../components/pages/Todo.astro";
import Todostyle from "../layouts/Todostyle.astro";
import Navbar from "../components/pages/Navbar.astro";
// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
---

<Navbar />
<Todostyle>
  <main>
    <section>
      <Todo />
    </section>
  </main>
</Todostyle>
