---
---

<section>
	<h1>Todo Component</h1>
	<p>Dit is je Todo-component. Zet hier je takenlijst of andere inhoud neer.</p>
</section>

<style>
	section {
		padding: 2rem;
		max-width: 600px;
		margin: 0 auto;
	}

	h1 {
		margin-bottom: 1rem;
	}
</style>
